.menu {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 1px grey;
}

header h3 {
  margin-right: 60%;
  font-weight: 100;
}

nav a {
  text-decoration: none;
  margin-right: 18px;
}

nav a:hover {
  text-decoration: underline;
  transition-duration: 0.3s;
}

section h1 {
  font-weight: 100;
}

section p {
  font-weight: 100;
}

.all {
  margin-left: 250px;
}

.free {
  width: max-content;
  height: max-content;
  border: 1px solid gray;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 39px;
}

.textFree {
  font-size: 25px;
  background-color: rgb(253, 241, 241);
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 8px 130px;
}

.textFreeB {
  font-size: 25px;
  background-color: rgb(253, 241, 241);
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 8px 110px;
}


section button {
  margin-left: 10px;
}

.btnA {
  text-decoration: none;
  margin: 11px 75px;
}

.btnB {
  text-decoration: none;
  margin: 11px 88px;
  color: white;
}

.btnC {
  text-decoration: none;
  margin: 11px 105px;
  color: white;
}


section button .btnA:hover {
  color: white;
}

.mo {
  color: rgb(180, 180, 180);
  font-weight: 400;
}

.first {
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 140px;
  display: inline-block;
}

.second {
  display: inline-block;
  margin-right: 140px;
}

.second .p {
  font-size: 20px;
}

.footerA {
  text-decoration: none;
  color: grey;
}

.footerA:hover {
  text-decoration: underline;
  transition-duration: 0.5;
}